.content {
    background: #e3f2fd;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    width: 60vw;
    /*max-width: 500px;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    height: 20vh;
    text-align: center;
    padding-top: 20px;
}
.files {

}