.App-wrapper {
  font-family: Roboto, serif;
  display: grid;
  background-color: #e3f2fd;
  text-align: center;
  height: 99vh;
  grid-template-rows: 7vh 1fr 7vh;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-areas:
    ". h ."
    "c c c"
    ". f .";
}

/*.Content-body {*/
  /*background-color: #8b4c55;*/
/*}*/
/*.App-header {*/
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
/*}*/
